* {
    margin: 0;
    padding: 0;
}

#gradient {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.278), rgba(239, 108, 48, 0.951)), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 250px;
    margin: auto;
    border-radius: 20px;
}

.title-btn {
    padding: 3% 40% 0 5%;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.submit-btn {
    border: none;
    background-color: white;
    color: orange;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 25px;
}